*{
box-sizing: border-box;
}
body{

overflow-x:hidden;
}

#lace{
pointer-events: cursor;
}

.navbar-brand{
	  font-family: Poppins,sans-serif;
    text-decoration: none;
    color: #20292f!important;
       
    line-height: 1em;
        font-size: 23px;
            box-sizing: border-box;
            float: left;
           
           
    font-weight: 600 !important;
        padding-bottom: 10px;
      
            cursor: pointer;
}


.fli{
display: flex;
flex-flow:row wrap;
		flex-direction:column;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: left;
		width:100%;
}




.navbar{
	height:10px;
	padding:0px;
	  color: #666;
    background-color: #fff;
}


#one
{
	border-width: 14px;
	border-color:#ffffff;
	color: #000000;
	font-size: 14px;
	font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
	font-weight: 500;
	letter-spacing: 4px;
	margin-left:100px;
    padding-left:20px;
    display: inline-block;
    border: 2px solid;
    line-height: 4;
    border-color: transparent;
    background-color: white;;
        width:200px;
}



#trolley{
height: 20px;
margin-top: 10px;

}




.parallax {
  /* The image used */
 background-image: url("hands.jpg");

  /* Set a specific height */
  height: 600px;
  width:100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  
}







h2{
font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
font-weight: 700;
text-transform: uppercase;
font-size: 16px;
color: rgba(0,0,0,0.4)!important;
letter-spacing: 15px;
line-height: 2em;
text-align: left;
padding-top: 180px;
margin-left: 100px;
}


ul li
{
list-style: none;
display:inline-block;

float:left;
}

ul li a{
display:block; 
text-decoration: none;
font-size: 15px;
font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
font-weight: 500!important;
color: #20292f;

}

ul li a:hover{
color:#666;
}


.arms{
width:100%;
padding-top:-20px;
margin-top:-50px;

}
#arms{

padding-top:-100px;
padding-left: 100px;

box-sizing: border-box;

}

#lorem
{
color: #666;
font-size: 20px;
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
font-weight: 100;
display: block;
word-wrap:break-word;
    text-align: left;
    margin-left: 90px;
	        padding-top: 60px;
	        width: 100%;

}


#jane
{
	
font-size: 30px;
color: #333;

text-align: left;

margin-left:90px;
font-family: 'Sacramento',handwriting;

}

.about{
padding-right:150px;


padding-bottom: 200px;

}

{
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
font-size: 45px;
font-weight: 500;
text-align: left;

color: #333;

}



#para-one{

font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
color: rgba(0,0,0,0.8);
text-align: left;
font-size: 50px;
box-sizing: border-box;

font-weight: 500;

display:in-block;

width:100%;
	word-wrap:break-word;
	padding-left:80px;
	line-height: 1.5em;
	   

}
h4{

font-size: 30px;
color: #333;
padding-bottom: 10px;
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
text-align: center;

}
#found{
font-size: 12px;
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
}

.thumbnail{

width:100%;
padding:10px;
}


.rist{
padding-left:20px;
    
}

.rrt{
padding-left:-100px;
 
}

h5{
font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
font-weight: 700;
text-transform: uppercase;
color: #ecd5c5!important;
letter-spacing: 15px;
padding-bottom: 10px;

text-align: center;
font-size:16px;

}


h6{
		font-size: 45px;
		color: #333;
		padding-bottom: 100px;
		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
		text-align: center;
}


.caption{
	word-wrap: break-word;
	    line-height: 1.8em;
	    padding-bottom: 150px;
}


.para{
		font-size:18px;
		margin-right:200px;
		margin: auto;
		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
		color: #666;
		background-color: #fff;
		display: block;
		text-align: center;
		box-sizing: border-box;
}

.section{
		width:100%;
		height:600px;
		background-image: url(leaf.jpg);
		background-color: rgba(255,255,255,0);
		
		box-sizing: border-box;
		background-position: 50%;
		background-size: cover;
		
		
}

.sec{
		width:50%;
		margin: 20px auto;
		display: flex;
		flex-flow:row wrap;
		flex-direction:row;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: center;
}

h7{
		font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 15px;
		color: #fff!important;
		text-align: center;
		line-height: 2em;
		padding-top:200px;
}

#cust{
		font-size: 56px !important;
		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
		box-sizing: border-box;
		color: #fff!important;
		display: flex;
		font-weight: 400 !important;
		word-wrap: break-word;
		text-align: center;
		flex-flow:row wrap;
		justify-content: center;
		
}

#shop{
		color: #ffffff!important;
		border-width: 0px!important;
		border-color: #c4beb9;
		border-radius: 0px;
		letter-spacing: 4px;
		font-size: 14px !important;
		font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
		font-weight: 500!important;
		
		background-color: #c4beb9;
		margin-right: 15px;
		display: inline-block!important;
		text-shadow: none;
		text-decoration: none;
		width: 170px;
		height: 60px;
		margin-top:30px;
		border: 2px solid;
}









.part{
		background-image:linear-gradient(180deg, #f2e3de 0%, #ffffff 100%);
		width:auto;
		position: relative;
		background-color: #fff;
		padding-bottom: 200px;
		padding-top:100px;
		
}

h1{

	font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
	font-size: 45px;
	color: #333;
	padding-bottom: 10px;
	font-weight: 500;
	box-sizing: border-box;
	text-align: left;
	padding-top:80px;
	padding-left:50px;
	

}



#view{
color: #595353!important;
border-width: 3px!important;
border-color: #c4beb9;
border-radius: 0px;
letter-spacing: 4px;
font-size: 14px;
font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
font-weight: 500!important;
text-transform: uppercase!important;
padding-top: 18px!important;
padding-bottom: 18px!important;
display: inline-block;
padding: .3em 1em;
line-height: 1.7em!important;
background-color: transparent;
background-size: cover;
background-position: 50%;
background-repeat: no-repeat;
border: 2px solid;
transition-property: all!important;
text-decoration: none;
cursor: auto;
box-sizing: border-box;
margin-left:50px;
}



#lace{
width:200px;
height: auto;
margin-left:160px;
padding-top: 150px;
padding-bottom:0px;
filter:opacity(29%) blur(3px);
}

#flo{
width:auto;
height:auto;
padding-left: -100px;
box-sizing: border-box;
}
#rr{
width:150px;
height: auto;
margin-left:400px;
padding-top:90px;
filter:opacity(60%) ;

}
#ll{
width:auto;
height: auto;
padding-left:-900px;

}

#gre{
width:auto;
height: auto;
padding-left:-250px;
padding-top:100px;
filter:opacity(60%) ;

}


.mate{
	background-image: linear-gradient(180deg,rgba(242,227,222,0.24) 75%,#ffffff 74%);
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 200px;
    padding-left: 0px;
    width:100%;
    height:auto;
}
#handmade{
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif !important;
    font-size: 45px!important;
    font-weight: 500 !important;
    text-align: left;
    color: #333;
    margin-left:30px;
    line-height: 1.5em;
}
    
#lor{
			font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
			line-height: 1.8em;
			    word-wrap: break-word;
			        color: #666;
			            font-weight: 500;
			            margin-left:50px;

}
#dow
{
	padding-left:100px;
	padding-right:100px;
	margin-top:-120px;
	width:700px;
}


.we{
 float:left;
 word-wrap: break-word;
width:70%;
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;


    color: #666;
    font-size: 20px;
    word-wrap: break-word;
    text-align: justify;

}
.mo{

padding-top: 400px;
padding-left: 50px;
}

#see{
color: #595353!important;
    border-width: 3px!important;
    border-color: #c4beb9;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    padding-top: 18px!important;
    padding-bottom: 18px!important;
    background-color: transparent;
    margin-left: 20px;


}

.it{
text-align:center;
}

.video{
background-image: url("video.jpg");
width:100%;
}

.toge{
margin-left:350px;
width:100%;
padding-bottom:100px;
}





    
    
.wedd{
		background-image: linear-gradient(180deg,#ffffff 0%,#f2e3de 100%)!important;
		width:100%;
		padding-top:100px;
}

h9{
	    font-size: 45px;
    	line-height: 1.5em;
    	color: #333;
    	font-weight: 500 !important;
    	font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
    	

}

a:hover{
	text-decoration: none;

}
.vil{
		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
    	font-size: 20px;
    	line-height: 1.8em;
    	word-wrap: break-word;
}

h10{

font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif!important;
    font-size: 40px;
    color: #333;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
}


.off{
background-color: rgba(0,0,0,0);
border-style: solid;
    border-width: 3px;
    border-color: #c4beb9;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    padding: 40px;
        text-align: center;
        margin-left:80px;
}

.bt
{
color: #ffffff!important;
    border-width: 14px!important;
    border-color: #c4beb9;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    background-color: #c4beb9;
    border: 2px solid;
        text-decoration: none;
       display: inline-block;
}
.rot{
box-shadow: 0px 0px 0px 1px #c4beb9!important;
    margin: 0 0 9px;
    width: 220px;
    height: auto;
    display: block;
    border-width: 10px!important;
    border-color: rgba(51,51,51,0)!important;
border: 0 solid #333;

padding-bottom: 0px;
}

.col-md-3
{

    width: 230px;
    padding-bottom:70px;
    }






h0{
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
    font-size: 24px;
color: #333;
    font-weight: 500;
}



.MOM{
		background-image: url("one.jpg");
		background-repeat: no-repeat;
		padding-top: 100px;
    	padding-right: 0px;
    	padding-bottom: 100px;
    	padding-left: 0px;
		width: 100%;
		background-position: 60%;
}



#roop{
  		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif!important;
    	font-size: 45px!important;
   	 	color: #333333!important;
    	line-height: 1.8em!important;
}

#sit{
		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
    	font-size:19px;
		word-wrap: break-word;
		color: #666;
		justify-content: center;
		padding-left: 20px;
		padding-top:10px;
}


.dir{
		display: flex;
		flex-flow:row wrap;
		flex-direction:column;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: center;
		width:600px;
		margin-left:200px;
}



#eww{

font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ecd5c5!important;
    letter-spacing: 15px;
    line-height: 1.8em;
    padding-left:150px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  
  #arms
  {
  	padding-top: 100px;
  	
  }

#about{
width: 100%;
}
  .about{
  padding-bottom: 20px;
  padding-left:20px;
  }
  
 
  #dow{
  width:400px;
  padding-left:40px;
  padding-right:50px;
  
  }
  
 .wedd{
 margin-left:50px;
 width:80%;
 
 }
 
 
 .off{
width:100%;
margin-left: -10px;
 }
  h5{
  
  padding-top:80px;
  text-align: center;
  line-height: 1.5em;
  padding-left:30px;
  }
  .section{
  width:100%;
  }
  .hands, .rest,.part{
    
  width:100%;
  }
  #jane, #found{
  100%
  }
  
  
.toge{
margin-left:10px;
}
  h9{
  font-size:30px;
  width:100%;
  
  }
  #cust{
  		font-size: 25px!important;
  		
  }
  
  #para-one{
  font-size: 40px;;
  }
  .dir{
  width:80%;
  margin-left:20px;
  }
  

  
  form{
  width:100%;
  }
  
  #inp
  {
  width:100%;
    padding: 10px 10px;
  margin: 8px 0;
  }
  #sb{
  
  width:100%;
  }
  #lace{
  width:100%;
float:right;
  }
  #rr{
  width:100%;
  float:right;
  }
  
  .soc{
  width:100%;
  
  }
  
  #eww{
  padding-left:70px;
  }
  
  }
  
  @media only screen and (min-width: 620px)
  /* For desktops*/
  {
  #cust{font-size: 56px;}
  #hea{
  		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif !important;
  		font-size: 45px !important;
  		color: #333333!important;
    	line-height: 1.8em!important;
    	font-weight: 500!important;

}
  }
  
  

#hea{
  		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif !important;
  		font-size: 45px !important;
  		color: #333333!important;
    	line-height: 1.8em!important;
    	font-weight: 500!important;
		text-align: center;
}

#inp
{
   width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  background-color: #f7f7f7;

  border:none;
 
  
}

#sb
{
		width: 100%;
  		margin: 8px 0;
  		display: inline-block;
  		
  		
      	color: #ffffff!important;
    	border-width: 2px!important;
    	border-color: #c4beb9;
    	border-radius: 0px;
    	letter-spacing: 4px;
    	font-size: 14px;
    	font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    	font-weight: 600!important;
    	text-transform: uppercase!important;
    	background-color: #c4beb9;
    	padding:20px;
}

 
#footer{
background-color: #222;


}

.soc{
padding-left:200px;

}

.info{
}
.fas{
padding-right:100px;
}
.fab{
padding-right:20px;
}

.fab, .fas{
color:#767676;
}
.las, .info{
color:#767676;
font-family: Open Sans,Arial,sans-serif;
}

.reff{
float:right;
}
#about
{
	    color: #333;
	    padding-bottom: 10px;
	        font-weight: 500;
	        font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
	        text-align: left;
	    	margin-left: 90px;
	        padding-top: 60px;
	        font-size:45px;
	        line-height: 1.5em;
}

#found{
font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
text-align: left;
color: #666;
line-height: 1.7em;
margin-left:90px;
}
